@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_slnt\,wght.ttf") format('woff2-variations');
  font-weight: 100 1000; 
}

@font-face {
  font-family: Fira;
  src: url("../font/FiraCode-VariableFont_wght.ttf") format('woff2-variations');
  font-weight: 100 1000; 

}

:root {
    /* CSS Variables */
  --primary-background: #1d1d1d;
  --secondary-background: #636363;

  --primary-font: #fff;
  --accent: #5dea51;
  --accent-2: #611991;

  overflow-x: hidden;
}

* , *:before, *:after{ 
     box-sizing:border-box; 
     -moz-box-sizing:border-box; 
     -webkit-box-sizing:border-box; 
     -ms-box-sizing:border-box;
   }

html {
  font-family: Inter;
  font-size: 16px;

  color: var(--primary-font);
  background-color: var(--primary-background);
}

body {
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-2);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}